@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Marquee Animation */
/* Marquee Animation */
/* CSS Transition for marquee effect */
/* Add animation properties to the .animate-marquee class */
/* Add animation properties to the .animate-marquee-bounce-reverse class */
/* Add animation properties to the .animate-marquee-bounce-reverse class */
.animate-marquee-bounce-reverse {
  animation: marquee-bounce-reverse 10s linear infinite alternate;
  /* Adjust the duration and timing as needed */
  transform: translateX(100%); /* Add this to start the animation at the end */
}




/* Marquee Animation */
/* Marquee Animation with Bounce and Reverse Effect */
@keyframes marquee-bounce-reverse {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Add these styles to your project's CSS or SCSS file */

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-content {
  overflow: hidden;
  width: 100%;
}

.testimonial-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-thumbs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumb {
  cursor: pointer;
  margin: 0 5px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.thumb.active {
  opacity: 1;
}

/* Add additional styles for testimonials, customer info, etc., as needed */

@media (min-width: 1441px) {
  .contact {
    height: 100vh;
  }
}